USE [master]
GO
/****** Object:  Database [blog]    Script Date: 11/07/2018 20:20:39 ******/
CREATE DATABASE [blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blog]
GO
USE [blog]
GO
/****** Object:  UserDefinedFunction [dbo].[F_TOTAL_POSTINGS]    Script Date: 11/07/2018 20:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_TOTAL_POSTINGS]()
RETURNS INT
BEGIN
	RETURN (SELECT COUNT(*) FROM b_posting)
END
GO
/****** Object:  UserDefinedFunction [dbo].[F_TOTAL_VIEWS]    Script Date: 11/07/2018 20:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_TOTAL_VIEWS]()
RETURNS INT
BEGIN
	
	RETURN (SELECT SUM(views) FROM b_posting)

END
GO
/****** Object:  Table [dbo].[b_historical_posting]    Script Date: 11/07/2018 20:20:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_historical_posting](
	[historical_code] [int] IDENTITY(1,1) NOT NULL,
	[historical_type] [char](1) NOT NULL,
	[historical_date] [datetime] NOT NULL,
	[posting_code] [int] NOT NULL,
	[posting_title] [varchar](70) NOT NULL,
	[posting_date] [datetime] NOT NULL,
	[subject_code] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[historical_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[b_historical_subject]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_historical_subject](
	[historical_code] [int] IDENTITY(1,1) NOT NULL,
	[historical_type] [char](1) NULL,
	[historical_date] [datetime] NULL,
	[subject_code] [int] NULL,
	[subject_description] [varchar](70) NULL,
 CONSTRAINT [PK_b_historical_subject] PRIMARY KEY CLUSTERED 
(
	[historical_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[b_posting]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_posting](
	[posting_code] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) NULL,
	[body_text] [text] NULL,
	[posting_date] [datetime] NULL,
	[subject_code] [int] NULL,
	[views] [int] NULL,
 CONSTRAINT [PK_b_posting] PRIMARY KEY CLUSTERED 
(
	[posting_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[b_subject]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[b_subject](
	[subject_code] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](70) NULL,
 CONSTRAINT [PK_b_subject] PRIMARY KEY CLUSTERED 
(
	[subject_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[b_posting]  WITH CHECK ADD  CONSTRAINT [FK_POSTING_SUBJECT] FOREIGN KEY([subject_code])
REFERENCES [dbo].[b_subject] ([subject_code])
GO
ALTER TABLE [dbo].[b_posting] CHECK CONSTRAINT [FK_POSTING_SUBJECT]
GO
/****** Object:  StoredProcedure [dbo].[P_DELETE_SUBJECT]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_DELETE_SUBJECT] @SUBJECT_CODE INT

AS

	DELETE FROM b_posting WHERE subject_code = @SUBJECT_CODE;
	DELETE FROM b_subject WHERE subject_code = @SUBJECT_CODE;

GO
/****** Object:  StoredProcedure [dbo].[P_INFORMATIONS]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_INFORMATIONS]
AS
begin

	declare @total_views int
	declare @total_postings int
	exec @total_views = dbo.F_TOTAL_VIEWS
	exec @total_postings = dbo.F_TOTAL_POSTINGS
	select @total_views as VIEWS, @total_postings as POSTINGS

end
GO
/****** Object:  StoredProcedure [dbo].[P_VIEWS]    Script Date: 11/07/2018 20:20:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_VIEWS] @POSTING_CODE INT
AS
	
	DECLARE @VIEWS_NUMBER INT

	SET @VIEWS_NUMBER = (SELECT views FROM b_posting WHERE posting_code = @POSTING_CODE) + 1

	UPDATE b_posting SET views = @VIEWS_NUMBER WHERE posting_code = @POSTING_CODE

	select p.posting_code as posting_code, p.title as title, p.body_text as body_text, p.posting_date as posting_date, p.subject_code as subject_code, s.description as description_subject, p.views as views from b_posting p inner join b_subject s on p.subject_code = s.subject_code WHERE p.posting_code = @POSTING_CODE

GO
USE [master]
GO
